<h1>Meus Projetos</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.project_id, project_path(project) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum projeto encontrado.</p>
<% end %>

<%= link_to 'Novo Projeto', new_project_path %>
